.bidcard {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10vw;
    margin-right: 10vw;

}
.redAlert{
    margin-left: 10vw;
    margin-right: 10vw;
}
.closed{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: lightgray!important;
}
.showmap {
    width:384px;
    height:384px;
}

.noBid{
    margin-top: 10px;
    margin-bottom: 10px;
}