.bidcard {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10vw;
    margin-right: 10vw;

}
.showmap {
    width:250px;
    height:150px;
}

.noBid{
    margin-top: 10px;
    margin-bottom: 10px;
}