.bidcard {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10vw;
    margin-right: 10vw;

}

.infoRow{
    display: flex;
    padding-left: 3vw;  
    padding-right: 3vw;    
    justify-content: space-between;
}

.itemTextArea{
    align-content: baseline;
}

.pairInput{  
    width:5vw;
}

.buy{
    background-color: lightgray;
}

.bid{

}

.pairButton{
    padding-top: 0px;
    padding-bottom: 0px;
    display:flex;
    align-content: center;

}


.showmap {
    width:384px;
    height:384px;
}