#app {
    padding: 100px;
}

.form-control {
    font-size: 2rem;
    padding: 25px 15px;
}
.filter-list {
    padding-top: 5vh;
}

.bidcard {

    margin-top: 100px;
    margin-left: 15vw;
    margin-right: 15vw;
}