.carouselArrow{
    width:50px!important;
    background-color:#666b6b;
}

.carouselArrowLeft{
    left: calc(50% - 50px - 336px)!important;
}

.carouselArrowRight{
    right: calc(50% - 50px - 336px)!important;
}

.carouselInner{
    align-items: center;
    width: calc(100px + 672px);
    overflow: hidden;
    background-color: #666b6b;

}
.carouselContainer{
    margin-top: 40px;
    display: flex!important;
    justify-content: center!important;
}